doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Produce sale form 
  link(rel='stylesheet' href='/css/addproducesale.css')
form#producesalesform( action='/AddProduceSale' method='POST')
  h2 Produce sale form
  // Error Message Display
  #errorMsg.error
  // Produce Name
  label(for='produceName') Produce Name
  input#produce(type='text' name='produceName')
  // Tonnage
  label(for='tonnage') Tonnage (kg)
  input#tonnage(type='number' name='tonnage')
  // Amount Paid
  label(for='amount') Amount  (UGX)
  input#amount(type='text' name='amount')
  // Buyer Name
  label(for='buyerName') Buyer Name
  input#buyerName(type='text' name='buyerName' required='')
  // Sales Agent
  label(for='salesAgent') Sales Agent Name
  input#salesAgent(type='text' name='salesAgent' required='')
  // Sale Date and Time
  label(for='saleDateTime') Date and Time
  input#saleDateTime(type='datetime-local' name='saleDateTime' required='')
  // Submit Button
  button(type='submit') Submit Sale
script(src='addproducesale.js')