doctype html
head
  meta(charset='UTF-8')
  title Sales Registration Form
  link(rel='stylesheet' href='/css/Addsale.css')
.form-container
  h2 Register Sales
  form#salesForm(action="/Saleregister" method="post")
    label(for='productName') Product Name:
    input#product(type='text' name="productName" )
    label(for='quantity') Quantity:
    input#quantity(type='number' name="quantity")
    label(for='saleDate') Date of Sale:
    input#saleDate(type='date' name="saleDate")
    label(for='priceperUnit') Price per Unit (UGX):
    input#price(type='number' name="priceperUnit")
    label(for='totalAmount') Total Amount (UGX):
    input#total(type='number' name="totalAmount")
    label(for='customerName') Customer Name:
    input#customer(type='text' name="customerName")
    button(type='submit') Submit Sale
script(src='/js/Addsale.js')