doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Director's Dashboard
  link(rel='stylesheet' href='/css/directorsDashboard.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' integrity='sha512-yHjM9l+kdf0+OPQWnryYfYp0FPhWZKnHcEf6vhc3D+Z6Z+GULe+a4Uez7Gxy0zTRNPn0a+ebpuOj6lA7szOKVQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
#sidebar.sidebar
  h2 Karibu
  a(href='#')
    i.fas.fa-tachometer-alt
    |  Dashboard
  a(href='/produceSale')
    i.fas.fa-chart-line
    |  Sales
  a(href='/produceProcurement')
    i.fas.fa-boxes
    |  Inventory
  a(href='/CreditSalesList')
    i.fas.fa-users
    |  Customers
  a(href='logout')
    i.fas.fa-coins
    |  Finance
  a(href='#')
    i.fas.fa-file-alt
    |  Reports
  a(href='#')
    i.fas.fa-cog
    |  Settings
#main.main-content
  button.toggle-btn(onclick='toggleSidebar()') &#x2630;
  header
    h1 Director&apos;s Dashboard
  .container
    .card
      h3 Daily Sales
      #dailySales.value 
    .card
      h3 Top-Selling Products
      ul#topProducts
    .card
      h3 Low Stock Alerts
      ul#lowStock
    .card
      h3 Customer Satisfaction Score
      #satisfaction.value Loading
    .card
      h3 Gross Profit Margin
      #grossProfit.value Loading
    .card
      h3 produceSalesList 
      #produceSaleList.value 
    .card
      h3 Employee Attendance
      #attendance.value 
    .card
      h3 logout 
      #logout.value 
script(src='directorsDashboard.js')