<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Logout Page</title>
  <link rel="stylesheet" href="./css/Logout.css">
</head>
<body>
  <div class="logout-container">
    <h1>Logout</h1>
    <p>Are sure you want to logout. Click below to return to the homepage or login again.</p>
    <button onclick="">Return to Login</button>
  </div>
  <script src="./js/Logout.js"></script>
</body>
</html>




