doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Logout Page
    link(rel='stylesheet', href='./css/Logout.css')
  body
    .logout-container
      h1 Logout
      p Are you sure you want to logout?
      a.button(href='/') Return to Home
    script(src='./js/Logout.js')



