doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Manager's Dashboard - Karibu Grocery Limited
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/managersDashboard.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==' crossorigin='anonymous' referrerpolicy='no-referrer')

  body
    .dashboard-container
      // Sidebar
      aside.sidebar
        h2 Karibu Grocery
        ul
          li
            a(href='/ManagerDashboard')
              i.fas.fa-home
              |  Home
          li
            a(href='/addCreditSale')
              i.fas.fa-list
              |  Credit Management
          li
            a(href='/addProduceSale')
              i.fas.fa-chart-line
              |  Sales
          li
            a(href='/addstock')
              i.fas.fa-box
              |  Stock
          li
            a(href='/addprocurement')
              i.fas.fa-shopping-cart
              |  Procurement

      // Main Content
      main.main-content
        .notification-area
          .notification-bell(onclick='toggleNotifications()')
            i.fas.fa-bell
            span#notification-count.badge 3
          .settings-icon
            i.fas.fa-cog
          #notification-dropdown.notification-dropdown
            h4 Notifications
            ul
              li New stock added: Beans
              li Customer order #223 completed
              li New message from the supplier

        header
          .header-container
            h1 Manager's Dashboard
            p Manage inventory, track sales, and monitor business operations

        section.overview
          #alert-box.alert-box
            p Important: Inventory levels are low on some items!
            button(onclick='dismissAlert()') Dismiss

          // Statistics
          .statistics
            .stat-box
              h3 Sales Today
              p 1000000 UGX
            .stat-box
              h3 High Selling Product
              p Beans
              p 8000000 UGX
            .stat-box
              h3 Current Products
              p Maize
              p Beans
            .stat-box
              h3 Low Stock Items
              ul
                li Soybeans – 50kgs
                li Maize – 30kgs
            .stat-box
              h3 Recent Orders
              ul
                li Beans
                li Cowpeas
            .stat-box
              h3 Available Stock
              ul
                li Cowpeas – 9000kgs
                li Soybeans – 1000kgs
                li Gnuts – 8000kgs

    script(src='/js/managersDashboard.js')
