doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Agent Dashboard
  link(rel='stylesheet' href='css/salesAgentDashboard.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==' crossorigin='anonymous' referrerpolicy='no-referrer')

.dashboard
  nav.sidebar
    h2 Dashboard
    ul
      li
        a(href='/')
          i.fas.fa-house(style='margin-right: 8px')
          | Home
      li
        a(href='/addCredit')
          i.fas.fa-money-bill-wave(style='margin-right: 8px') 
          | Add Credit
      li
        a(href='/addsale')
          i.fas.fa-dollar-sign(style="margin-right: 5px")
          | Sale 
      li
        a(href='/Logout')
          i.fas.fa-sign-out-alt(style="margin-right: 5px") 
          | Logout

  main.content
    header
      h1 Welcome, Sales Agent Dashboard 
    section.stats
      .stat-box
        | Leads: 
        span#leads 25
      .stat-box
        | Deals Closed: 
        span#deals 10
      .stat-box
        | Revenue: shs 
        span#revenue 50,000

    .table-container
      h2 Recent Leads
      table
        tr
          th Name
          th Contact
          th Status
          th Value
        tr
          td Marcus Bruno
          td brunomarcus@gmail.com
          td New
          td shs50000
        tr
          td Chiru Faith
          td faithchiru@gmail.com
          td In Progress
          td shs70000

script(src='js/salesAgentDashboard.js')
