doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Stock Management
    link(rel='stylesheet' href='/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/stock management.css')
  body
    header.bg-dark.text-light.p-3
      h1.text-center Stock Management
      nav.nav.justify-content-center
        a.nav-link.text-light(href='/manager') Manager Dashboard
    
    main.container.mt-5
      h2 Stock Overview
      div.text-center.mt-4
      a.btn.btn-primary.btn-lg(href='/stocklist') Click to View Stock Management
      div#stockData.mt-4

    script(src='/js/stockmanagement.js')