/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-image: url('../img/index3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Optional: adds a blur effect to the background */
  color: white;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center;     /* Vertically centers content */
  height: 100vh;           /* Full height of the viewport */
  text-align: center;
  margin: 0;               /* Removes default margin */
}

.container {
  display: fixed; /* Fixed position to cover the entire viewport */
  background: transparent;
  backdrop-filter: blur(15px); /* Optional: adds a blur effect to the background */
  justify-content: center; /* Center items vertically */
  align-items: center;     /* Center items horizontally */
  text-align: center;      /* Center text */
  width: 100%;             /* Full width of the container */
  padding: 20px;
  border-radius: 70px;           /* Padding around the container */
}

/* Welcome Section Styling */
.welcome {
  padding: 50px;           /* Adjust padding if needed */
  max-width: 600px;        /* Limiting max width */
  width: 100%;             /* Take full width */
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.welcome .btn {
  padding: 10px 20px;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.welcome .btn:hover {
  background-color: #28a745; /* Button hover effect */
}

/* Footer Styling */
footer {
  background-color: #343a40;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .welcome h1 {
    font-size: 2rem;
  }

  .welcome p {
    font-size: 3rem;
  }

  .welcome .btn {
    font-size: 3rem;
  }
}



