body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../img/index3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #28a745;
}

.input-group .error-message {
  font-size: 0.875rem;
  color: #dc3545;
  margin-top: 5px;
}

.input-group.remember-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-group.remember-me input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input-group.remember-me label {
  font-size: 1rem;
  color: #ddd;
}

button.login-btn {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.login-btn:hover {
  background-color: #218838;
}

footer {
  background-color: #212529;
  color: #ffffff;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  form {
    padding: 30px 20px;
    max-width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}
